<%- include("partials/header"); -%>

  <h1><%=title%></h1>
      <a href="/delete-post/<%=postId%>">Delete </a> <span>  or   </span><a href="/edit-post/<%=postId%>">Edit </a>

  <p><%=content%></p>

<%- include("partials/footer"); -%>
